<h3>New collab-o-qwap:</h3>

<%= form_for [@post, @comment] do |f| %>
  <div class="new collab area">
    <%= f.text_area :body, placeholder: "Begin collab-o-qwapping here. Remember, we all enter into this qwap-o-shpere knowing these are all qwappy ideas so PLEASE do not criticize any qwaps. This is about positive and constructive collaboration." %>
  </div>

  <div>
    <%= f.submit "Post collab-o-qwap", class: "basic ui button" %>
  </div>
<% end %>
