<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New qwap by "<%= @post.user.name %>"</h1>

    <h1>
      <%= @post.body %>
    </h1>
    <p>
      Visit online at: www.qwapper.com
    </p>
  </body>
</html>