<h3>qwappers:<span> check out other qwappers qwap</span></h3>



<div class="page">
<%= will_paginate @users %>
</div>




<% @users.each do |user| %>

<div class="user list">
  <%= link_to user.name, user %>
</div>

<% end %>




<div class="page">
<%= will_paginate @users %>
</div>





<h3><%= link_to "Back", :back %></h3>