<h3>qwappers:<span> check out other qwappers qwap</span></h3>


<% @users.each do |user| %>

<div class="user list">
  <%= link_to user.name, user %>
</div>

<% end %>

<h3><%= link_to "Back", :back %></h3>