
  <div class="about heading">
    <h4>Philosophy of Qwap<span> :idea sharing</span></h4>
  </div>

    <div class="about one"> 
      <p>We all place some level of value on everything we think about.  This is actually programmed into us through evolution. If we didn't place value on every thought we have we would walk off cliffs or shop at Abercrombie and Fitch. And, if we didn't place value modifiers on all of these thoughts, we might act as if eating a peanut butter sandwich was just as good as being on time for work. The point is, we have all evolved to believe on some level that our thoughts are special and by extension we are special. I'm not here to tell you that you are not special, I just want to see if you might consider sharing some of that 'special' in the spirit of this qwap experiment.</p>
    </div>

    <div class="about two"> 
      <p>The 'qwap experiment' is about letting go of our thought-hoarding and opening ourselves up to a more collaborative spirit in the hope of creating even more super-neat stuff together en masse. Most of you are very familiar with the concept of memes ala a cat-doing-something-funny, but the concept actually originated in a book about genetics and defined a meme as, "an idea, behavior, or style that spreads from person to person within a culture." This is what qwapper.com is all about. </p>
    </div>
    
    <div class="about three"> 
      <p>Imagine you qwap about a silly new type of food wrap that someone reads and then tells their mom who happens to mention it to a guy she does kick-boxing with who has a nephew that happens to work at a company that makes food containers and he brings into existence a new space age food wrap based on your original silly qwap. That is one half of qwapper's soul. The other half is about just making us laugh.</p>
    </div>
  
    <div class="about four"> 
      <p>I know this may seem like a very foreign concept but this is what everyone does everyday at work when they tell their friends about their weird ideas.</p>
    </div>

    <div class="about five">
    <p>Eventually, maybe qwapper could gain enough clout that we would be able to ask a real live company to produce a qwap that fellow qwappers endorse if it gets enough votes.</p>
    </div>

    <div class="about six">
    <p>From the start, qwapper.com was just a qwap idea, but in the end, with your contribution, it could be a successful qwap idea.
    </div>


