<% if current_user %>
<div class="splash">
  <h1><%= link_to "qwapper", new_post_path %></h1>
</div>

<% else %> 

<div class="splash">
  <h1><%= link_to "qwapper", new_user_session_path %></h1>
</div>
<% end %>

<div class="about">
  <h2>Do you have a crappy idea that you don't care about or an idea you will never be able to do? That's where qwapper comes in, those ideas are all qwap, and now you have somewhere to put them.</h2>
</div>

<% if current_user %>
<div>
  <%= link_to "Go ahead, give a qwap!", new_post_path, class: "basic ui button" %>
</div>

<% else %>
<div>
  <%= link_to "Go ahead, give a qwap!", new_user_session_path, class: "basic ui button" %>
</div>

<% end %>

<p></p>
<p>^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</p>

<div class="about heading">
    <h4>qwapper: a person who qwaps</h4>
</div>


    <div class="about one"> 
      <p>Hi, my name is Chris Elwood and like every other human, I have ideas everyday for more crap than I know what to do with. Well, as life goes, one day, standing at a urinal I thought, "What if everyone shared their 'bad' ideas.", I mean, if they are by self-definition 'bad', why not tell the world? Oh right, that pesky 'fear of judgment' thing. Well maybe we should all forget about other people mocking our 'bad' ideas and start revealing them to each other with the grand goal of everyone celebrating them in a new and different way.</p>
    </div>

    <div class="about two"> 
      <p>This is the goal 'qwapper' aims to realize. At qwapper we want to create a place where people can dump their crap willy nilly, freeing up space for the good stuff. The idea is that if you leave your qwap here maybe someone else will see it and it will inspire them to create the next Google, Star Wars, or Clapper!</p>
    </div>
    
    <div class="about three"> 
      <p>"Whoa, whoa, whoa", you think, "That's the other reason I don't 'share' my crap with the world dude. I don't want some shmo not named 'me' getting rich off my idea! I'm outta here! Let's go everyone, this place is whack." Ok, I understand that gut reaction, but let's take a moment and consider; If you have an idea that's 'bad' and you probably won't ever get around to doing it cause you don't think it's worth it, OR you don't have the where-with-all, time, or money to do it, then why the 'flip-hole' not tell everyone and hope that someone actually does do it so that you ultimatly get what you want? I'm sorry, I shouldn't have said 'flip-hole', but if you really think about this, this could be how YOU make your mark (through someone else's efforts) on the ledger, I mean this is your opportunity to declare today that, "I think this should be a thing." and ten years from now say, "See, George Lucas Jr. did it and that was my idea! I qwapped it on qwaper TEN FREAKIN' YEARS AGO!"
      Is it starting to make sense? Probably not, because this too is a crap idea, but stick with me.</p>
    </div>
  
    <div class="about four"> 
      <p>Also, just to make sure this is out in the open for all of us to breath in, qwapper in no way owns any of the qwaps left on our doorstep. If, somehow a qwap you leave on qwapper becomes a huge deal by your hands we assure you, that you need not fear a fancy letter from our scary lawyers demanding our piece. This is about letting crappy ideas live out in the open and free to possibly find a home or at least be buried under a ton of other qwaps.</p>
    </div>

<div class="about five">
<p><em>Being the crap idea it is, qwapper will most likely remind you of other applications you are familiar with already, so... </em><strong><br><br> ...with that said, here is the basic guide:</p></strong>
</div>


  <ul>
    <div class="about seven">
    <li>wade or skim through the qwaps</li>
    <li>is it good a qwap or a crap qwap, rate that qwap (coming soon)</li>
    <li>if you come across a qwap you think is actually interesting and think the <br>qwapper might actually be on to something, go ahead and vote that qwap up</li>
    <li>or if you are one of the bold elite, sign up and leave a qwap, who knows,<br> maybe lil Billy Gates Jr. is reading
    <li>try to make qwaps as short as possible</li>
    </div>
  </ul>


  <p>And that's that for now, so GO GET qwapping!</p>






