<% if current_user %>
<div class="splash">
  <h1><%= link_to "qwapper", new_post_path %></h1>
</div>

<% else %> 

<div class="splash">
  <h1><%= link_to "qwapper", new_user_session_path %></h1>
</div>
<% end %>

<div class="about">
  <h2>Have an idea you don't want anyone to steal? What about a crappy idea you don't care about? That's where qwaper comes in, you can leave your qwap here!</h2>
</div>

<% if current_user %>
<div>
  <%= link_to "Go ahead, give a qwap!", new_post_path, class: "basic ui button" %>
</div>

<% else %>
<div>
  <%= link_to "Go ahead, give a qwap!", new_user_session_path, class: "basic ui button" %>
</div>

<% end %>




