<div class="splash">
  <h1>qwaper</h1>
</div>

<div class="about">
  <h2>Have an idea you don't want anyone to steal? What about a crappy idea you don't care about? That's where qwaper comes in, you can leave your qwap here! 
   <br><br> Go ahead, give a qwap.</h2>
</div>

