<% if policy(Follow.new).create? %>
  <div class="follow">
    <%if follow = current_user.follow(@user.name) %>
      <%= link_to [@user.name, follow], class: 'basic ui icon button', method: :delete do %>
        <i class="star icon"></i>&nbsp; Unfollow?
        <% end %>
    <% else %>
      <%= link_to [@user.name, Follow.new], class: 'basic ui icon button', method: :post do %>
        <i class="empty star icon"></i>&nbsp; Follow?
      <% end %>
    <% end %>
  </div>
<% end %>

