<h3>Fix qwap:</h3>

<%= form_for @post do |f| %>
  <div>
    <%= f.text_area :body, placeholder: "Edit your qwap here. And REMEMBER, 200 characters or less." %>
  </div>

  <div>
    <%= f.submit "Done editing your qwap?", class: "basic ui button" %>
  </div>
<% end %>