<h3>New qwap:</h3>

<div>
<%= form_for @post do |f| %>
  <%= f.text_area :body, placeholder: "Enter your qwap here. Make sure you really wanna share this with the world because you won't be able to delete it or edit it." %>
</div>
<div>
  <%= f.submit "Click to share with the world", class: "basic ui button" %>
<% end %>
</div>

