@import "semantic-ui";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Montserrat);




.page {
  font-size: 2.25em;
  margin: 8px;
} 


body {
  background: url(image-path('notebook.png'));
  background-position: center;
  font-size: 62.5%;
  max-width: 960px;
}


/*Home Page*/
.splash {
  margin: -50px 0px 0px 0px
}

h1 {
  font-size: 20em;
  font-family: 'Cabin Sketch', cursive;
  margin: 40px 0px 0px 0px;
}

.about {
  width: 65%;
  margin: 0.45em;
}

h2 {
  font-size: 3.2em;
  font-family: 'Cabin Sketch', cursive;
  margin: 5px 0px 10px 15px;
}

.give.qwap {
  margin: 15px 0px 0px 20px;

    .basic.ui.button {
      font-size: 3em;
    }
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  }

  p:first-letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #D95C5C;
  }

  .about.heading {
    font-size: 2.5em;
    font-family: 'Cabin Sketch', cursive;
    margin: 30px 0px 0px 20px;
      span {
      font-size: 0.75em;
      }
}

.about.one {
  width: 73%;
  margin: -10px 0px 0px 20px;
}

.about.two {
  width: 58%;
  margin: 0px 0px 0px 140px;
  padding: 1px 4px 1px 19px;
  border-style: dashed;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  box-shadow: 10px 10px 3px rgba(0,0,0,.2);
}

.about.three {
  width: 43%;
  margin: 0px 0px 0px 90px;
}

.about.four {
  width: 55%;
  margin: 0px 0px 0px 190px;
  padding: 1px 4px 1px 19px;
  border-style: dotted;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  box-shadow: 10px 10px 3px rgba(0,0,0,.2);
}

.about.five {
  width: 53%;
  margin: -10px 0px 0px 20px;
}

.about.six {
  width: 68%;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 10px;
  border-style: solid;
  border-width: 0.5em;
}


img {
  height: 3%;
  width: 6.2%;
  margin: 2px 0px -20px -20px;
  padding: 3px 3px 3px 3px;
}

.page {
  font-size: 2.25em;
  margin: 8px;
  font-family: 'Cabin Sketch', cursive;
} 


h3 {
  font-size: 4em;
  font-family: 'Cabin Sketch', cursive;
  margin: 29px 0px 10px 5px;
}

h4 {
  font-size: 1.75em;
  font-family: 'Cabin Sketch', cursive;
  padding: 0.1em 0.1em 0.25em 0.3em;
  margin: -0.5em 0em 0em -0.25em;
  width: 73em;
}

h5 {
  font-size: 1.75em;
  font-family: 'Cabin Sketch', cursive;

    .post.user.name {
      margin-top: 10px;
      font-size: 0.75em;
      font-style: italic;
      
    }

    .votes.total {
      display: inline;
      font-size: 0.65em;
    }

    .fav {
      margin-top: 40px;
      z-index: 1;

    }

    .tweet {
      margin: -30px 0px 0px 180px;
      font-size: 0.75em;
      z-index: -1;
    }

    .tweet.pull.left {
      margin: 0;
    }
}

h6 {
  font-size: 4.25em;
  font-family: 'Cabin Sketch', cursive;
  padding: 0px;
  margin: 40px 0px -40px 0px;
}



.signin {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.75em;
  margin: 0px 0px 10px 5px;
}

.signin.btn {
  font-size: 0.45em;
  margin: 0px 0px 10px 5px;
  }

.basic.ui.button {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.25em;
  margin: 0px 0px 8px 0px;
  border-radius: 2px;
  color: black !important;
}

.basic.ui.button:hover {
  color: red !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #D95C5C;
}



li {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}

input {
  border-radius: 3px;
  font-family: 'Cabin Sketch', cursive;
    font-size: 0.8em;
    margin: 0px 0px 10px 5px;
}

header {
  border-style: none none solid none;
  border-size: 0.05em;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

footer {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 0px 30px 0px;
}

footer1 {
  margin: 50px 0px 30px 0px;
  border-style: solid none none none;
  border-size: 0.5em;
  padding: 15px
}

.new.collab.area {
  textarea {
    height: 160px;
    width: 680px;
    font-size: 2.7em;
  }
} 

textarea {
  height: 100px;
  width: 680px;
  font-size: 2.7em;
}

textfield {
  height: 100px;
  width: 300px;
}

span {
  display: inline;
  font-size: 0.75em;
  width: 73%;
}

small {
  font-size: 1em;
  a {
  text-decoration: underline;
  color: red;
  }
}

.qwap.list {
  padding: 1px 4px 1px 19px;
  margin: -15px 0px 0px 0px;
  border-radius: 2px;
}

.collab.qwap.list {
  padding: 1px 4px 1px 19px;
  margin: -15px 0px 0px 0px;
  border-radius: 2px;

    .ui.grid {
      border-style: solid;
      border-size: 0.5em;
      width: 95%;
      margin: 3px 0px 0px 0px;
    }
}

.collab.header {
margin: 60px 0px 0px 0px;

  .ui.grid {
    border-style: dotted;
    border-size: 0.5em;
    width: 95%;
    margin: -30px 0px 0px 0px;

  .basic.ui.button {
    font-size: 1.5em;
    margin: -35px 0px 10px 0px
  }
}
}

.collab.list {
  margin: 20px 0px 0px 0px;

  .ui.grid {
    border-style: solid;
    border-size: 0.5em;
    width: 95%;
    margin: 3px 0px 0px 0px;
  }
  .basic.ui.button {
    font-size: 1.5em;
    margin: -35px 0px 10px 0px
  }
}

.user.list {
  font-size: 3em;
  font-family: 'Cabin Sketch', cursive;
  margin: 15px 0px 10px 30px;

    .basic.ui.button {
      font-size: 1em;
    }
}

.alert.alert-success {
  color: red;
  height: 0.35em;
  font-size: 3em;
  font-family: 'Cabin Sketch', cursive;
  margin: 5px 0px 0px 0px
}

.alert.alert-danger {
  color: red;
  height: 0.35em;
  font-size: 3em;
  font-family: 'Cabin Sketch', cursive;
  margin: 5px 0px 0px 0px
}

button {
  height: 4em;
  width: 5em;
}

.alert {
  color: red;
  height: 0.35em;
  font-size: 3em;
  font-family: 'Cabin Sketch', cursive;
  margin: 5px 0px 0px 0px
}

.up {
  font-size: 4em;
  margin: 0px 0px -15px 0px
}

.down {
  font-size: 4em;
  margin: -15px 0px 0px 0px
}

.points {
  font-size: 1.75em;
  font-family: 'Cabin Sketch', cursive;
  margin: 0px 0px 0px 29px
}



.ui.grid {
  border-style: dotted;
  border-size: 0.5em;
  width: 95%;
  margin: 10px 0px 0px 0px;
  -moz-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 10px 10px 3px rgba(0,0,0,.2);
  box-shadow: 10px 10px 3px rgba(0,0,0,.2);

  .basic.ui.button {
    font-size: 1em;
    margin: -35px 0px 10px 0px
  }
}



.new.qwap {
  .ui.red.button {
    font-size: 5em;
    margin: -102px 0px 0px 0px;
    height: 106px;
    width: 100px;
    padding: 0px 0px 0px 0px;
    border-radius: 2px;
    color: black;
  }
}

.tag.btn {
   .basic.ui.button  {
      font-size: 3.7em;
      height: 50px;
      width: 686px;
      padding: 7px 0px 0px 0px;
  }
    .type.btn {
      .basic.ui.button  {
        font-size: 3.8em;
        height: 50px;
        width: 100px;
        padding: 10px 0px 0px 0px;
    }
  }
}

.tag.field {
  height: 200px;
    width: 400px;
    font-size: 3em;

  input {
    height: 200px;
    width: 400px;
    font-size: 3em;
  }
}

.delete {
  padding: 0px 0px 0px 0px;
  margin: -17px 0px 0px 760px;
  z-index: -1;

}

.edit {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 730px;
  z-index: -1;

}

.comment.count {
  z-index: 2;
  margin: -100px 80px 50px 200px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}

.favorite {

  .basic.ui.icon.button {
    font-size: 0.75em;
  }
}

.voted {
  opacity: 0.1;
}

.comments.check.box {
  zoom:2;
  transform:scale(2);
  -ms-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -moz-transform:scale(2);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.update {
  margin-top: 20px; 
}

.cancel {
  margin-top: 20px;
}




