@import "semantic-ui";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Montserrat);

body {
  font-size: 62.5%;
}

h1 {
  font-size: 25em;
  font-family: 'Cabin Sketch', cursive;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 4em;
  font-family: 'Cabin Sketch', cursive;
  margin: 0;
}

.about {
  width: 83em;
  margin: 0.45em;
}

.basic.ui.button {
  font-family: 'Cabin Sketch', cursive;
  font-size: 4em;
  margin: 0.25em;
  border-radius: 2px;
  color: black;
  background: red;
}

a {
  text-decoration: none;
  color: black;
}

header {
  border-style: none none solid none;
  border-size: 0.05em;
}