<div>
  <div>
    <%= link_to " ", '#', class: 'hand up icon' %>
  </div>
  <div>
    <strong><%= post.points %></strong>
  </div>
  <div>
    <%= link_to " ", '#', class: 'hand down icon' %>
  </div>
</div>